# -------------------------
# Python & PyInstaller 产物
# -------------------------
# 忽略 Python 虚拟环境
venv/

# 忽略 PyInstaller 的打包产物和配置文件
build/
dist/
*.spec

# 忽略 Python 缓存文件
__pycache__/
*.pyc
*.zip
# -------------------------
# 用户数据与存档 (高级规则)
# -------------------------
# 1. 默认忽略 saves 文件夹内的所有内容
saves/*
logs/

# 2. 但是，不要忽略作为示例的 savegame.json 文件 (例外规则)
!saves/savegame.json

# -------------------------
# 其他本地文件
# -------------------------
# 忽略你截图中那个 "Levant Engine 1.0" 文件夹，它看起来像是一个发布包
Levant Engine/